services:
  db:
    container_name: ktor-postgres-db
    image: postgres:latest
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=lol_reviews
    ports:
      - "5432:5432"
    volumes:
      - postgres:/var/lib/postgresql
  backend:
    image: lowheel:0.0.1
    pull_policy: never
    container_name: backend
    depends_on:
      - db         
    ports:
      - "8080:8080"

volumes:
  postgres: